/* Buttons */
.ant-btn {
  letter-spacing: .25px;
  min-width: 100px;
}

/* Checkbox / Radio */
.ant-checkbox-inner {
  border-color: #5f6368;
}

.ant-radio-inner {
  border-color: #5f6368;
  /* border-width: 2px; */
}

.ant-select-dropdown-menu {
  padding: 5px 0;
}


/* Input */
.ant-input:focus,
.ant-select-selection:focus {
  box-shadow: inset 0 0 0 1.5px #4285f4;
}